:root { /* given to root selector so that it's scope is available globally */
    --grid-columns: 1; /* Custom variable to be used to set grid size */
    --grid-rows: 1;
}

body {
    background-color: aliceblue;
}

.grid {
    display: grid;
    width: 560px;
    height: 560px;
    grid-template-rows: repeat(var(--grid-rows),1fr); /* adds '--grid-rows' amount of equal rows */
    grid-template-columns: repeat(var(--grid-cols), 1fr);  /* adds '--grid-columns' amount of equal columns */
    background: #eeee;
    border: 10px double black;
}

.grid div {
    border: 1px solid black;
    border-radius: 15%; /* maybe remove */
    text-align: center;  
        
}

input {
    width: 213px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(52, 192, 235);
    text-shadow: 1px 1px 3px blue;
}